* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  margin-top: 3em;
  text-align: center;
}

#control-panel {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}

.monitor {
  width: 300px;
  height: 3em;
  margin: 1em;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em 1em;
  outline: 1px solid #efefef;
  border-left: 1em solid;
}

.monitor.inverted {
  color: #fafafa;
}

.monitor label {
  font-weight: bold;
}

#temp {
  border-color: #69cf0e;
}

#moisture {
  border-color: #1073bb;
}

#light {
  border-color: #623802;
}

@media (max-width: 900px) {
  #control-panel {
    display: inline-block;
    padding: 1em;
  }
}

#box {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
